
<h3 class="titlecard"><center><i class="fas fa-book-reader"></i> Whis Stories</center></h3>
<div class="section">
    <center><p class="lead">Create public and private stories from your life</p></center>
</div>
<div class="divider"></div>
<div class="section">
    <center>
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
    </center>
</div>
